
body {
    background-color: lightgray;
}

h1 {
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-text {
    flex: 1;
}

.profile-photo {
    width: 35%;
    border-radius: 8px;
}
